<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">About Page</title>
</head>
<body>

	<section>
	
	<div class="container">
	
		<div class="card">
		
		<div class="card-body text-center">
		
		
		
		<div class="container text-center">
		 <img src="" style="height:200px; width:200px;" class="my_profile_picture" th:src="@{'/img/'+${user.imageUrl}}" alt="profile photo" />
		
		</div>
		
		<h1 class="text-center mt-3" th:text="${user.name}"></h1>
		
		<table class="table">
		
		<thead>
		<tr>
		<th scope="col">#ID</th>
		<th scope="col"><span th:text="${user.id}"></span></th>
		
		</tr>
		
		</thead>
		<tbody>
		
		<tr>
		<th scope="row">Email</th>
		<th><span th:text="${user.email}"></span></th>
		</tr>
		
		<tr>
		<th scope="row">Role</th>
		<th><span th:text="${user.role}"></span></th>
		</tr>
		
		<tr>
		<th scope="row">Account Active</th>
		<th><span th:text="${user.enabled}"></span></th>
		</tr>
		
		<tr>
		<th scope="row">About</th>
		<th><span th:text="${user.about}"></span></th>
		</tr>
		
		</tbody>
		
		
		
		
		</table>
		
		
		</div>
		
		
		</div>
	
	
	</div>
	
	
	
	</section>
	
</body>
</html>